body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background: linear-gradient(to bottom right, #007BFF, #003366);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.header-content {
    z-index: 1;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.about {
    padding: 50px 0;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .profile-pic {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.about-text {
    max-width: 600px;
}

.work, .skills, .contact {
    padding: 50px 0;
    background-color: #f0f8ff;
}

.skills-list {
    display: flex;
    justify-content: space-around;
}

.skill {
    text-align: center;
    margin: 10px;
}

.skill i {
    font-size: 40px;
    color: #007BFF;
}

.contact p {
    text-align: center;
}
