body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    background-image: url('images/domenico-loia-hGV2TfOh0ns-unsplash.jpg');
    background-size: cover; /* Adjusts the image to cover the entire header */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 50vh; /* Sets the height of the header */
    display: flex;
    justify-content: center;
    align-items: center;
    color: midnightblue;
    text-align: center;
    position: relative;
}


.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-content {
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.about, .projects, .skills, .coaching, .contact {
    padding: 50px 0;
    background: #f0f8ff;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .profile-pic {
    border-radius: 50%;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.about-text {
    max-width: 600px;
}

.skills-list {
    display: flex; /* Use flexbox to align items in a row */
    justify-content: center; /* Center the logos horizontally */
    align-items: center; /* Center the logos vertically */
    gap: 20px; /* Space between the logos */
    flex-wrap: wrap; /* Wrap to the next line if needed */
    padding: 20px; /* Optional padding around the container */
}

.skill {
    width: 100px; /* Set a consistent width */
    height: 100px; /* Set a consistent height */
    overflow: hidden; /* Hide any overflow */
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensure the logo fits within the container without distortion */
}

.skill i {
    font-size: 40px;
    color: #007BFF;
}
.project-item{
    background: #e3f2fd;
}
.coaching {
    background-image: url('images/pexels-khwanchai-phanthong-4175028.jpg');
    background-size: cover; /* Adjusts the image to cover the entire header */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 20vh; /* Sets the height of the header */
    display: flex;  
    padding-top: 10%;  
    text-align:match-parent;
    position: sticky;
   
}

.contact {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: white;
}
